.home {
  margin-top: 45px;
  background-color: $color-light;
  padding-top: 35px;
}
// Home Wrapper

.home-wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;

  .order-and-book-wrapper {
    display: flex;

    a {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
  }
}

.nav-order {
  background-image: url("../images/assets/pizza-1.jpg");
  margin-right: 3px;
}

.nav-book {
  background-image: url("../images/assets/pizza-2.jpg");
  margin-left: 3px;
}

.link {
  height: 120px;
  //justify-content: center;
  width: 100%;
  border-radius: $radius;
  color: $color-light;
  font-weight: $font-bold;
  //font-stretch: expanded;
  p {
    text-align: center;
    font-style: $font-text;
    font-size: 30px;
  }
}

.hours {
  background-color: $color-main;
  height: 125px;
  margin-top: 6px;
  line-height: 0.4;

  span {
    font-size: 18px;
    font-weight: $font-normal;
  }
}
// Carousel

.carousel-wrapper {
  display: flex;
  padding-top: 50px;
}

.carousel-image {
  display: flex;
  flex: 1;
  max-height: 200px;

  img {
    width: 100%;
    border-radius: $radius;
    object-fit: cover;
  }
}

.quotes {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
  height: 200px;
  //opacity: 0.5;
  p {
    text-align: left;
    font-stretch: expanded;
  }

  .quotes-sign {
    font-style: italic;
  }

  h2 {
    text-transform: uppercase;
  }

  .quote {
    opacity: 0;
    transition: 1s opacity;
  }

  .active {
    display: flex;
    flex-direction: column;
  }

  .q-one.active {
    opacity: 1;
    transition: 2s opacity;
  }

  .q-two.active {
    transform: translateY(-189px);
    opacity: 1;
      transition: 2s opacity;
  }

  .q-three.active {
    transform: translateY(-380px);
    opacity: 1;
      transition: 2s opacity;
  }
}
//Carousel dots

.carousel-dots {
  text-align: center;
  padding-top: 50px;

  .fa-circle {
    color: grey;
    padding: 0 7px;
    font-size: 10px;
    cursor: pointer;

    &:hover,
    .active {
      color: $color-dark;
      font-size: 12px;
      transition: 0.5s;
    }
  }
}
//Gallery

.gallery {
  padding-top: 50px;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  display: flex;
  flex: 3 200px;
  height: 200px;
  position: relative;
}

img {
  object-fit: cover;
  max-width: 195px;
  border-radius: $radius;
  margin: 6px 0;
  //position: relative;
}

.icon {
  .fas {
    padding: 0 5px;

    &:hover {
      color: $color-main;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .fa-share-alt:hover {
    color: lightblue;
  }
  display: flex;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50% -50%);
  color: $color-light;
  font-size: 20px;
}

.icon a {
  text-decoration: none;
}
//Footer

.footer p {
  text-align: left;
  color: $color-main;
  text-decoration: underline;
}
