.home {
margin-top: 45px;
background-color: #ffff;
padding-top: 35px;
}

.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

.nav-order {
  background-image: url('../images/assets/pizza-1.jpg');
}

.link {
  //padding-bottom: 5px;
  padding-top: 25px;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.nav-book {
  background-image: url('../images/assets/pizza-2.jpg');
}

.hours {
  background-color: red;
}
